*, *::after, *::before {
  box-sizing: border-box;
}

body{
margin: 0;
}
.grid-container{
  display: display;
  grid-template-rows: 1fr 6fr;
  height: 100vh;
}

.header{
  display: flex;
  grid-row: 1/2;
  font-size:3rem;
  align-items:center;
  padding-left: 2rem;
  color: white;
  background-color: #475569;
  padding-bottom: 2rem;
  padding-top: 1.5rem;
}

.main{
  grid-row: 2/3;
  display: grid;
  grid-template-rows: 1fr 10fr;
  background-color: #60A5FA;
}

.main-top{
  grid-row: 1/2;
  display: flex;
  align-items: center;
  box-shadow: inset;
  border-bottom: 5px solid #2563EB;
}

.newBook{
  display: flex;
  border: none;
  align-items: center;
  justify-content: center;
  height: 3rem;
  width: 3rem;
  background-color: #60A5FA;
}
.newBook:hover{
  color: white;
  box-shadow: rgba(14, 30, 37, 0.12) 0px 2px 4px 0px, rgba(14, 30, 37, 0.32) 0px 2px 16px 0px;
}
.main-bottom{
  padding-top: 2rem;
  padding-left: 2rem;
  grid-row: 2/3;
  display: grid;
  grid-template-columns: repeat(auto-fit,minmax(200px,300px));
  grid-auto-rows: 1fr;
  gap: 3rem;
  font-family: 'Nuosu SIL',serif;
  font-size: 1.5rem;
  background-color: #475569;
}

.card{
  display: flex;
  flex-direction: column;
  background-color: white;
  border-radius: 10px;
  box-shadow: rgba(14, 30, 37, 0.12) 0px 2px 4px 0px, rgba(14, 30, 37, 0.32) 0px 2px 16px 0px;
  max-height: 20rem;
  max-width: 20rem;
  border-bottom: 0.5rem solid grey;
  border-left: 0.8rem solid #2563EB;
}


.card-content{
  display: flex;
  flex:1;
  flex-direction: column;
  padding: 0 1rem 1rem 1rem;
  justify-content: start;
  gap: 1rem;
}
.card-content>:nth-child(1){
  font-weight: bold;
  font-size: 2rem;
  align-self: center;
}
.card-content>:nth-child(2){
  font-style: italic;
}

.card-content>:nth-child(3){
  margin-top: auto;
  margin-bottom: 1rem;
  font-size: 1rem;
}
.card-content>:last-child{
  display: flex;
  margin-bottom: 0;
  justify-content: center;
  gap:1rem;
}

.modal {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(0);
  transition: 200ms ease-in-out;
  border: 1px solid black;
  border-radius: 10px;
  z-index: 10;
  background-color: white;
  width: 500px;
  max-width: 80%;
}

.modal.active {
  transform: translate(-50%, -50%) scale(1);
}

.modal-header {
  padding: 10px 15px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid black;
}

.modal-header .title {
  font-size: 1.25rem;
  font-weight: bold;
}

.modal-header .close-button {
  cursor: pointer;
  border: none;
  outline: none;
  background: none;
  font-size: 1.25rem;
  font-weight: bold;
}

.remove{
  align-self: flex-end;
  cursor: pointer;
  border: none;
  outline: none;
  background: none;
  font-size: 1.25rem;
  font-weight: bold;
}
.remove:hover{
  color: red;
}
.modal-body {
  padding: 10px 15px;
}

#overlay {
  position: fixed;
  opacity: 0;
  transition: 200ms ease-in-out;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, .5);
  pointer-events: none;
}

#overlay.active {
  opacity: 1;
  pointer-events: all;
}

 /* The switch - the box around the slider */
 .switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
}

/* Hide default HTML checkbox */
.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

/* The slider */
.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: .4s;
  transition: .4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}

input:checked + .slider {
  background-color: #64e02b;
}

input:focus + .slider {
  box-shadow: 0 0 1px #64e02b;
}

input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

/* Rounded sliders */
.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
} 